*.obj
*.exe
*.html
*.exp
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.htm
*.zip
*.sdf
*.opensdf
[Dd]ebug/
*.lib
*.sbr
*.msi
*.exe
Thumbs.db
[Rr]elease*/
[Dd]ebug*/
[Bb]in*/
UMM/UMM448/IActivaplanner.h
[Tt]est[Rr]esults/
*.orig
_UpgradeReport_Files/
_ReSharper.*/
*.DPack
